<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Index</title>
</head>
<body>

<p3>Recipe Project Works!!</p3>
<table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tr th:remove="all">
        <td>123</td>
        <td>Tasty Goodnees 1</td>
        <td><a href="#">View</a></td>
    </tr>
    <tr th:remove="all">
        <td>12333</td>
        <td>Tasty Goodnees 2</td>
        <td><a href="#">View</a></td>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">334</td>
        <td th:text="${recipe.description}">Tasty Goodnees 3</td>
        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
    </tr>
</table>

</body>
</html>